<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_register</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
    <header>
        <img th:src="@{/image/dog.png}" alt="">
    </header>
    <main>
        <section class="register">
            <form th:action="@{/admin/register/process}" method="post">
                <h1>Register</h1>
                <form class="register-form">
                    <div class="control-group">
                        <label class="register-field-icon" for="radminName">Name</label>
                        <input type="name" class="register-field" name="adminName" placeholder="例:タロウ ハナコ"
                            id="register-name" required>
                    </div>
                    <div class="control-group">
                        <label class="register-field-icon" for="adminEmail">Email</label>
                        <input type="email" class="register-field" name="adminEmail" placeholder="例:test@test.com"
                            id="register-email" required>
                    </div>
                    <div class="control-group">
                        <label class="register-field-icon" for="password">Password</label>
                        <input type="password" class="register-field" name="password" id="register-pass" required>
                    </div>

                    <div class="control-group">
                        <button class="btn">登録</button>
                    </div>
                    <div class="control-group link">
                        <a href="admin_login.html" class="register-link">ログインはこちら</a>
                    </div>
                </form>
            </form>
        </section>
    </main>
    <footer>
        <small>&copy; 202408 zrongron</small>
    </footer>
</body>

</html>