<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <header>
        <img th:src="@{/image/cat.png}" alt="">
    </header>
    <main>
        <section class="login">
            <form th:action="@{/admin/login}" method="post">
                <h1>Login</h1>
                <form class="login-form">
                    <div class="control-group">
                        <label class="login-field-icon" for="login-email">Email</label>
                        <input type="email" class="login-field" name="login-email" placeholder="例:test@test.com"
                            id="login-email" required>
                    </div>
                    <div class="control-group">
                        <label class="login-field-icon" for="login-pass">Password</label>
                        <input type="password" class="login-field" name="login-pass" id="login-pass" required>
                    </div>
                    <h3>※半角、全角、スペースも認識されますのでご注意ください。</h3>
                    <div class="control-group">
                            <button class="btn">Login</button>
                    </div>
                </form>
            </form>
        </section>
    </main>
	<footer>
	        <small>&copy; 202408 zrongron</small>
	    </footer>
</body>

</html>