<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログ一覧</title>
    <link rel="stylesheet" th:href="@{/css/blog_list.css}">
</head>

<body>
    <section class="blog">
        <nav class="navbar">
            <div class="navbar">
				<ul>
                <li><a th:href="@{/admin/logout}">ログアウト</a></li>
                <li><a href="">ブログ一覧</a></li>
                <li><a href="">トップページ</a></li>
				</ul>
            </div>
        </nav>
        <main>
            <article>
                <h2>ブログ一覧</h2>
                <div>
                    <a  th:href="@{/blog/register}" class="btn">ブログ登録</a>
                </div>
            <ul class="blog_list">
				<li th:each="blog:${blogList}">
					<a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
						<img th:src="@{/blog-img/{imagePath}(imagePath=${blog.blogImage})}" alt="">
						<p th:text="${blog.blogTitle}"></p><br>
						<p th:text="${blog.article}"></p>
					</a>
				</li>
			</ul>
			</article>
        </main>
    </section>
    <footer>
       <small>&copy; 202408 zrongron</small>
    </footer>
</body>

</html>