body {
	/*  背景を設定 */
	background-image: url(../image/animal.png);
	background-size: cover;
}

.navbar {
	overflow: hidden;
	background-color: #f3e7e7;
	font-size: 20px;
	font-family: cursive;
	border-bottom: 1px solid #ecb6b6;
}

.navbar {
	/* クリアフロート */
	overflow: hidden;
	/* 色を設定 */
	background-color: #f3e7e7;
	/* 字の色 */
	font-size: 20px;
	/* 下横線の色 */
	border-bottom: 1px solid #ecb6b6;
}

.navbar a {
	float: right;
	display: block;
	color: blue;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	padding-bottom: 15px;
	padding-top: 15px;
}

/* ナビゲーションバー*/
.navbar a:hover,
.navbar a.active {
	/* 背景色 */
	background-color: #ecb6b6;
	/* テキストの色 */
	color: rgb(138, 73, 73);
}

/* スタイル */
.navbar ul {
    /* マークを削除 */
	list-style-type: none;
	/* 中央揃えて */
	margin: 0;
	/* 内側の余白 */
	padding: 0;
}


.blog {
	text-align: center;
	font-family: "cursive";
	z-index: 1;
}

h2 {
	font-size: 40px;
	font-family: cursive;
	margin-top: 40px;
	margin-bottom: 8px;
	color: #7c2929;
}
/*----------商品一覧--------------*/
.blog_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
}
.blog_list li{
	width: 33%;
	margin:0.5rem;
	border: 1px solid black;
}
.blog_list li a img{
	padding: 0.5rem;
	box-sizing: border-box;
}
.blog_list li a p{
	text-align: center;
	color: black;
	text-decoration: none;
}

/*----------ボタン--------------*/
.btn {
	background-color: rgb(110, 110, 199);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition: box-shadow 0.3s;
	border-radius: 50px;
	width: 100px;
	padding: 8px 0;
}

.btn:active {
	box-shadow: 0 5px 15px black;
	transform: translateY(4px);
}

footer {
	text-align: center;
}