body {
/* 加背景图 */
background-image: url(../image/set.png);
background-size: cover;
}
.navbar {
    /* 清除浮动 */
    overflow: hidden;
    /* 设置背景色 */
    background-color: #f3e7e7;
    /* 字体颜色 */
    font-size: 20px;
    /* 下横线颜色 */
    border-bottom: 1px solid #ecb6b6;
}
.navbar a {
    float: right;
    display: block;
    color: blue;
    text-align: center;
    padding: 15px 15px; 
    text-decoration: none;
    padding-bottom: 15px;
    padding-top: 15px;
}
/* 导航链接 - 悬停/激活样式 */
.navbar a:hover, .navbar a.active {
    background-color: #ecb6b6; /* 悬停时的背景色 */
    color: rgb(138, 73, 73); /* 悬停时的文本颜色 */
}
/* 导航栏列表样式 */
.navbar ul {
    list-style-type: none; /* 移除列表的标记 */
    margin: 0; /* 边距 */
    padding: 0; /* 内边距 */
}

h2{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;
    color: #7c2929;
}

/* 登録画面 */
.main-inner{
    width: 700px;
    height: 460px;
    margin: 100px auto;
    background-color: rgb(241, 194, 202);
    display: flex;
    justify-content: center;
    margin: 10 auto;
    color: #216d6e;
} 

.register-section-details_flex {
    display: flex;
    margin: 30px auto;
}

.register-section-details_flex div:first-child {
    width: 7rem;
    line-height: 30px;
    text-align: left;
    font-size: 20px;
}

.update {
    background-color: #f59e0b;
    color: #fff;
    border: gray;
    padding: 10px 20px;
    box-shadow: 0 5px 0 #aaaaaa;
    transition: 0.3s;
}
.button-container{
    text-align: center;
}
.back-btn {
    background-color:#3f9294;
    color: #fff;
    border: gray;
    padding: 10px 20px;
    box-shadow: 0 5px 0 #aaaaaa;
    transition: 0.3s;
    margin: 1px 20px;
}
.edit{
    background-color:rgb(218, 118, 135);
    color: #fff;
    border: gray;
    padding: 10px 20px;
    box-shadow: 0 5px 0 #aaaaaa;
    transition: 0.3s;
    margin: 10px 50px; 
}
footer{
    text-align: center;
}